/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.app-container{
    width: 100%;
    height: 100vh;
}

header{
    height: 100px;
    display: flex;
}

main{
    height: calc(100% - 170px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* HEADER */
.header-left{
    width: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.header-left h1{
    font-size: 30px
}

.header-left img{
    margin-right: 20px;
}

.header-right{
    width: 50%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right select{
    margin: 0 5px;
    padding: 3px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #e9e9ed;
}

.header-right #play-button{
    padding: 4px 20px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #e9e9ed;
}

/* MAIN */
.grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bkg-cyan{
    background-color: #6495ed;
    color: white;
}

.square-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}